

*{
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(240, 248, 255) ; */
}

/* shared styles */

.learn-btn{
    padding: 12px 20px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 32px;
    border:1px solid rgb(204, 202, 202);
}

.text-center{
    text-align: center;
}
.color-1{
    color: #0D1321;
}

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
    align-items: center;
}

.logo{
    font-weight: 900;
    font-size: 28px;
    color: #0d2c74;
}

.text-color{
    color: rgb(128, 15, 112);
}

.resume-download-btn{
    padding: 17px 24px;
    border-radius: 8px;
    background-color: white;
    color: rgb(73, 5, 64);
    border: 1px solid grey;
    font-weight: 600;
    font-size: 15px;

}

/* banner styles */
.banner-container{
    width: 90%;
    margin: 0 auto;
    height: 70vh;
    /* border: 1px solid grey; */
    padding: 10px 20px;
    background-image: url('../assets/Hero-bg.png');
    border: 1px solid rgb(185, 184, 184);

    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin-bottom: 61px;
    
}

.banner-img{
    width: 240px;
    margin-top: 0px;
}
.connect-btn{
    padding: 21px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    color: white;
    margin-top: 32px;
    width: 244px;
    height: 65px;
}

.banner-title{
    margin-top: 32px;
    color: #0D1321;
    font-weight: bolder;
    font-size: 48px;
}

.banner-description{
    margin-top: 24px;
    color: #5d616b;
    font-size: 16px;
}


/* section-1 styles inside Main*/
.section-1{
    width: 1140px;
    margin: 0 auto;
    padding: 80px 97px;
    /* margin-top: 61px;
    margin-left: 144px;
    margin-right: 144px; */
    background-color: rgb(250, 247, 247);
    border-radius: 16px;
    /* text-align: center; */
}


.section-title{
    font-weight: bolder;
    font-size: 32px;
}
.section-description{
    margin-top: 24px;
}

/* box-1 styles */

.box-1{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    gap: 99px;
    align-items: center;
    padding: 48px;
    margin-top: 48px;
    border: 1px solid grey;
    border: none;
    border-radius: 16px;
    /* box-shadow: 1px 1px 2px 2px rgb(226, 222, 222); */
    background-color: white;
    /* margin-bottom: 50px; */
    
}
.box1-left{
    width: 477px;
}

.box1-right{
    width: 274.17px;
    height: 240px;
}

.box-title{
    font-weight: bold;
    font-size: 24px;
}

.box-description{
    font-size: 16px;
    margin-top: 16px;
}



/* box-2 styles */

.box-2{
    display: flex;
    /* justify-content: space-around; */
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    gap: 32px;
    padding: 48px;
    margin-top: 32px;
    border: 1px solid grey;
    border: none;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 32px;
}

.box2-left{
    width: 240px;
}
.box2-right{
    width: 477px;
}


/* box-3 styles */

.box-3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    padding: 48px;
    gap: 133px;
    border: 1px solid grey;
    background-color: white;
    border: none;
    border-radius: 16px;
}

.box3-left{
    width: 477px;
}

.box3-right{
    width: 240px;
}

/* section-2 styles inside main */

.section-2{
    width: 1140PX;
    margin: 0 auto;
   
}

.youtube_video-box{
    text-align: center;
    margin-top: 48px;
    padding: 32px 32px;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 16px;
    box-shadow: 2px;
    /* width: 100%; */
  
}


/* target section style */

.section-3{
    margin-top: 151px ;
}

.target-description{
    margin-top: 24px;
}

.html-box{
    text-align: justify;
    width: 364px;
    height: 299px;
    /* border: 1px solid rgb(243, 243, 243); */
    border-radius: 16px;
    padding: 20px;
    background-color: rgba(231, 255, 30, 0.05);
}

.css-box{
    text-align: justify;
    width: 364px;
    height: 299px ;
    background-color: rgba(63, 0, 232, 0.05);
    border-radius: 16px;
    padding: 20px;

}

.js-box{
    text-align: justify;
    width: 364px;
    height: 299px;
    padding: 20px;
    border-radius: 16px;
    padding: 20px;
    background-color: rgba(231, 255, 30, 0.05);
}

.box-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin-top: 30px;
}

.target-box-description{
    margin-top: 8px;
    margin-bottom: 10px;
}
